body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,figure,form,fieldset,input,p,blockquote,th,td,legend {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cardo',serif;
}

h1 {
	font-family: 'Bevan',serif;
	font-size: 3.0em;
	text-align: center;
}

h2 {
	font-family: 'Cardo',serif;
	font-size: 1.5em;
	text-transform: uppercase;
}

p {
	line-height: 1.4em;
	margin-bottom: 1.0em;
	text-align: justify;
}

a {
	color: #821122;
}

#content {
	width: 925px;
	margin: 0 auto;
}

#filters {
	font-family: Arial, sans-serif;
	float: left;
	margin-bottom: 20px;
	margin-left: 40px;
}

#filtersAndDropdown {
	margin: 20px;
}

#filters a {
	color: #000;
	font-size: 12px;
	padding: 5px;
	background: #e2e2e2;
	cursor: pointer;
	margin-right: 3px;
}

#filters a: last-child {
	margin-right: 0;
}

#filters a.UDEV {
	background: #895881;
	color: #fff;
}

#filters a.DEVING {
	background: #ED7C31;
	color: #fff;
}

#filters a.DEV {
	background: #82A5C0;
	color: #fff;
}

#vis {
	min-height: 550px;
}

#blurb {
	height: 60px;
	border-top: 1px solid #e2e2e2;
	padding-top: 20px;
}

path, circle {
	stroke: #e2e2e2;
	stroke-width: 0.9;
	fill: none;
}

path.current, path.highlight.current, circle.current, circle.current {
	stroke: #000;
	stroke-width: 1.7;

}

.UDEV.highlight {
	stroke: #895881;
}

.DEVING.highlight {
	stroke: #ED7C31;
}

.DEV.highlight {
	stroke: #82A5C0;
}

.highlight {
	stroke-width: 1px;
}

line {
	stroke: black;
}

text {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 11px;
}

#dropdown {
	margin-right: 40px;
	float: right;
}

.axis {
	stroke-width: 0.8;
	stroke: #000;
}

.xTicks,.yTicks {
	stroke-width: 0.6;
	stroke: #000;
}

#cite {
	font-size: 0.8em;
	text-align: right;
	margin-top: 10px;
	padding-bottom: 20px;
}

#cite a {
	background: #e2e2e2;
	text-decoration: none;
	color: #821122;
}

